@import "tailwindcss";

@font-face {
    font-family: Azeret;
    src: url(/fonts/AzeretMono-Variable.ttf);
    font-style: normal;
}
@font-face {
    font-family: Bytesized;
    src: url(/fonts/Bytesized-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: Chilax;
    src: url(/fonts/Chillax-Variable.ttf);
    font-style: normal;
}
@font-face {
    font-family: Chubbo;
    src: url(/fonts/Chubbo-Variable.ttf);
    font-style: normal;
}
@font-face {
    font-family: Comico;
    src: url(/fonts/Comico-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat-Variable.ttf);
    font-style: normal;
}
@font-face {
    font-family: Sora;
    src: url(/fonts/Sora-Variable.ttf);
    font-style: normal;
}
@font-face {
    font-family: Stardom;
    src: url(/fonts/Stardom-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: Gambetta;
    src: url(/fonts/Gambetta-Variable.ttf);
}










@theme {
    --color-background: #ded2c1;
    --color-foreground: #000000;

    --color-ibackground: #000000;
    --color-iforeground: #ded2c1;

    --font-azeret: Azeret;
    --font-bytesized: Bytesized;
    --font-chilax: Chilax;
    --font-chubbo: Chubbo;
    --font-comico: Comico;
    --font-montserrat: Montserrat;
    --font-sora: Sora;
    --font-stardom: Stardom;
    --font-gambetta: Gambetta;
}

html {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

.index-title-class {
    writing-mode: vertical-lr;
    text-orientation: upright;

    font-family: var(--font-stardom);
    letter-spacing: -20px;
}

.about-me-title-class {
    font-family: var(--font-stardom);
    color: var(--color-iforeground);
    
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -5px;
    font-size: 3vh;
}

.about-me-class {
    font-family: var(--font-gambetta);
    color: var(--color-iforeground);
    font-weight: 500;
    font-size: 1.4vh;
}