---
import "../styles/global.css"
import Head from "../components/head.astro"
import MainPage from "../components/main-page.astro"
---

<html lang="en">
	<Head />

	<body>
		
		<MainPage />

	</body>
</html>
