---
import "../styles/global.css"
import Head from "../components/head.astro"
import MainPage from "../components/main-page.astro"
import Frame from "../components/frame.astro"
---

<html lang="en">
	<Head />

	<body>

		<Frame />

		<MainPage />

	</body>
</html>
