---
import Times from "./times.astro"
import WeatherReport from "./weather-report.astro"
---


<div class="flex flex-col flex-1 h-full w-full p-5 gap-5">

    <!-- TOP BOXES -->
    <div class="flex gap-5 h-4/10">

        <!-- ABOUT BOX -->
        <div class="w-2/10 h-full bg-ibackground p-2.5 flex items-center">
            <p class="about-me-class text-justify ml-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Vivamus lacinia dapibus libero sit amet lobortis. Morbi vel dignissim eros. 
                Mauris sit amet egestas velit. Maecenas mattis augue nisi, a mollis turpis dictum id. 
                <br>
                <br>
                Etiam a tempus risus, ac ultricies tortor. Aenean non nunc in metus scelerisque vulputate.            
            </p>

            <p class="about-me-title-class ml-5 select-none">ABOUT ME</p>
        </div>


        <!-- TIMES TEXT AND SEP -->
        <div class="flex flex-col flex-1 h-full w-5/10">
            
            <!-- TIMES -->
            <div class="h-7/10 w-5/10 flex flex-wrap flex-1 gap-5">
                <div class="w-3/10 ">
                    <WeatherReport />
                </div>
                <div class="flex items-center"><div class="w-px h-4/10 bg-ibackground"></div></div>
                
                <div class="w-23/40">
                    <Times />
                </div>
                
            </div>

            <!-- SEP -->
            <div class="h-px w-35/80 bg-ibackground mt-2"></div>

            <!-- TEXT -->
            <div class="h-3/10 w-35/80 mt-4">
                <p class="vertical-text-class text-[0.63vw] text-foreground">
                    心に留め<br>ておくべき<br>十四のフレ<br>ーズが<br>ある：
                    <br><br>
                    らせん階段<br>カブト虫<br>廃墟の街<br>イチジクの<br>タルト<br>カブト虫<br>ドロローサ<br>への道<br>カブト虫<br>
                    カブト虫<br>ジョット<br>天使<br>紫陽花<br>カブト虫<br>特異点<br>秘密の皇帝
                    <br><br>
                    そこへ行き<br>新月を待て<br>···
                    <br><br>
                    その時<br>こそ天国<br>が訪れる<br>のだ
                </p>
            </div>
        </div>
    </div>
    

    <!-- BOT BOX -->
    <div class="h-6/10 flex flex-wrap flex-1 gap-5">
        <div class="h-full aspect-square bg-ibackground p-5 overflow-hidden select-none">
            <!-- <img src="/assets/cat-image.png"> -->
        </div>
        <div class="flex items-center justify-center w-5/10">
            <p class="font-gambetta font-medium text-9xl select-none">PORTFOLIO</p>
        </div>

        <div class="h-full w-px bg-ibackground"></div>

        <div class="flex flex-col flex-1">
            <div class="h-px w-full bg-ibackground"></div>

            <div class="mt-5 text-right">
                <p class="links-title-class mb-2">LINKS</p>

                <span class="flex">
                    <p class="links-sub-class">-----></p>
                    <a href="https://github.com/Terrible-j" class="links-sub-class ml-auto">github</a>
                </span>
                <span class="flex">
                    <p class="links-sub-class">-----></p>
                    <a href="https://github.com/Terrible-j" class="links-sub-class ml-auto">github</a>
                </span>
                <span class="flex">
                    <p class="links-sub-class">-----></p>
                    <a href="https://github.com/Terrible-j" class="links-sub-class ml-auto">github</a>
                </span>

            </div>
        </div>
    </div>
    
</div>
