<div class="pointer-events-none fixed flex h-screen w-screen">

    <div class="pointer-events-none z-100 fixed inset-0 opacity-75 mix-blend-multiply bg-[url('/textures/natural-paper.png')]">
        <div class="fixed top-5 left-1.5">
            <p class="font-gambetta text-[12px] opacity-50 italic">[This website run better fullscreen]</p>
        </div>

        <div class="bg-ibackground h-px w-19/20 fixed top-10 left-0"></div>
        <div class="bg-ibackground h-px w-19/20 fixed bottom-10 right-0"></div>
    </div>
    
</div>

