<div class="pointer-events-none fixed flex h-screen w-screen">

    <div class="pointer-events-none fixed inset-0 opacity-75 mix-blend-multiply bg-[url('/public/textures/natural-paper.png')]"></div>

    <div class="bg-foreground h-px w-19/20 fixed top-10 left"></div>
    <div class="bg-foreground h-px w-19/20 fixed bottom-10 right-0"></div>
</div>

