---
import Col from "./col1.astro"
---

<div class="flex flex-col h-screen w-screen pt-20 pb-20 p-10">
    <div class="border h-full w-full">
        <div class="flex flex-wrap flex-1 h-full w-full">

            <div class="h-full w-auto select-none">
                <p class="index-title-class mt-7 mb-3 text-[10vh]">TERRIBLE</p>
            </div>
            <div class="w-px h-full bg-foreground"></div>
            
            <Col />
        </div>

    </div>
</div>
