<div class="flex flex-col h-screen w-screen p-5">

    <div class="flex h-5 mb-4">
        <p class="text-[12px] font-gambetta font-semibold">This is a page : 19/02/2026</p>
        <div class="absolute bg-foreground h-0.5 w-470 self-end"></div>
    </div>

    <div class="flex flex-wrap flex-1 gap-5">
        <div class="flex flex-col w-220 gap-5">
            <div class="h-40 w-full">
                <p class="index-title-class">Terrible - J</p>
            </div>

            <div class="bg-foreground flex-1 h-full w-full">

            </div>
        </div>

        <div class="flex flex-col w-75 gap-5">
            <div class="bg-foreground h-75 w-full">

            </div>

            <div class="bg-foreground flex-1 h-full w-full">

            </div>
        </div>

        <div class="flex flex-col w-165 gap-5">
            <div class="bg-foreground h-150 w-full">

            </div>

            <div class="bg-foreground flex-1 h-full w-full">

            </div>
        </div>
    </div>

    
</div>
