---
import Clock from "./clock";
---

<div class="font-stardom text-[3.32vh]">
    <Clock
        client:load
        city="NEW YORK"
        timeZone="America/New_York"
        format="HH : mm"
    />

    <Clock 
        client:load
        city="LONDON"
        timeZone="EUROPE/London"
        format="HH : mm"
    />

    <Clock 
        client:load
        city="TOKYO"
        timeZone="ASIA/Tokyo"
        format="HH : mm"
    />

    <Clock 
        client:load
        city="PARIS"
        timeZone="EUROPE/Paris"
        format="HH : mm"
    />

    

    


</div>